*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 40px;
  margin-top: 1rem;
}

.first a {
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid #808080;
  color: black;
  font-size: 0.69rem;
}

.first a:hover {
  color: #007ec8;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 3000;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 7px 40px;
}

nav .logo {
  margin-left: 4rem;
}

.second .dropdown {
  overflow: hidden;
}

.second .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px #007ec8;
          box-shadow: 0px 8px 16px 0px #007ec8;
  z-index: 1;
}

.second .dropdown-content a {
  color: black;
  display: inline-block;
  text-decoration: none;
  padding: 12px 16px;
  text-align: left;
}

.second .dropdown:hover .dropdown-content {
  display: block;
  width: 250px;
}

.second .dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px #007ec8;
          box-shadow: 0px 8px 16px 0px #007ec8;
  z-index: 1;
}

.second .dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

.second .dropdown2:hover .dropdown-content2 {
  display: block;
  width: 250px;
}

.second .align {
  margin-top: -293px;
  text-align: left;
  margin-left: 30px;
}

.second h5 {
  font-weight: bolder;
}

.second .align2 {
  text-align: left;
  margin-left: 30px;
}

.second .dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px #007ec8;
          box-shadow: 0px 8px 16px 0px #007ec8;
  z-index: 1;
}

.second .dropdown-content3 a {
  color: black;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

.second .dropdown3:hover .dropdown-content3 {
  display: block;
  width: 250px;
}

.rowcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: row;
      align-content: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2.9rem;
}

.rowcontent a {
  text-decoration: none;
}

.rowcontent-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: row;
      align-content: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.rowcontent-2 a {
  padding-right: 20px;
  color: black;
  font-weight: bold;
  font-size: 0.72rem;
}

.rowcontent-2 .position {
  position: relative;
}

.rowcontent-2 .position span {
  position: absolute;
  bottom: 95%;
  right: 3%;
  width: 26px;
  text-align: center;
  font-size: 0.62rem;
  background-color: #007ec8;
  color: #fff;
}

.rowcontent-2 .last-link {
  border-radius: 50px;
  background-color: #f78200;
  color: #fff;
  padding: 5px;
  width: 120px;
  font-size: 0.58rem;
  letter-spacing: 0.1rem;
}

.header2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header2 .sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}

.header2 .sticky .logo .navbar-brand {
  margin: 1.8rem 0 0.6rem 8rem;
}

.header2 .sticky .btn-mobile {
  position: absolute;
  right: 18%;
  top: 50%;
  z-index: 2000;
}

.header2 .nav {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}

.header2 .nav .all {
  background-color: #2e2828;
  width: 40%;
  height: 100vh;
}

.header2 .nav .all li {
  list-style: none;
}

.header2 .nav .all a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.header2 .nav .last-unorder {
  margin-top: 1.2rem;
}

.header2 .nav .last-unorder .nav-link {
  font-size: 0.68rem;
}

.header2 .nav .unorder span {
  margin-left: 10px;
  width: 26px;
  text-align: center;
  font-size: 0.62rem;
  background-color: #007ec8;
  color: #fff;
}

.header2 .nav .unorder a {
  font-size: 0.72rem;
}

.nav::after {
  content: "";
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
}

.bg-blue {
  background-color: #007ec8;
  color: #fff;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-blue .teach {
  text-align: center;
}

.bg-blue .teach h1 {
  font-size: 1.8rem;
}

.bg-blue .teach h2 {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin-top: -6px;
}

.bg-blue .teach .btn {
  margin-top: 2rem;
}

.bg-white {
  margin-top: 2.2rem;
}

.bg-white .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-white .heading h3 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.3;
  text-align: center;
  margin: 0 40px;
}

.bg-white .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 40px 0 28px;
  line-height: 1.3;
}

.bg-white .flex .item {
  width: 400px;
}

.bg-white .flex .item .room {
  margin-bottom: 8px;
}

.bg-white .flex .item .undraw {
  margin-left: 40px;
}

.bg-white .flex .item .build {
  margin-bottom: 2px;
}

.bg-white .flex .item .test {
  margin: 30px 0 24px 0;
}

.bg-white .flex .item .report {
  margin-bottom: 20px;
}

.bg-white .flex .item .tablet {
  margin-left: 40px;
}

.bg-white .flex .item .shop {
  margin-left: 1.2rem !important;
}

.bg-white .flex .item .web {
  margin: 30px 0 25px 0;
}

.bg-white .flex .item h4 {
  font-weight: 600;
  font-size: 0.8rem;
}

.bg-white .flex .item img {
  width: 30%;
  margin-top: 1.2rem;
}

.bg-white .flex .item p {
  margin-top: 0.1rem;
}

.sec {
  margin: 5rem 90px;
}

.sec .platform h3 {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

.sec .platform p {
  text-align: justify;
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 12px 5px 50px 5px;
}

.sec .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 40px 0 20px;
}

.sec .tab .image {
  width: 50%;
  margin: 0px 50px 0 0px;
}

.sec .tab .image img {
  width: 100%;
}

.sec .tab .learning {
  width: 40%;
  margin-right: 0px 40px 0 50px;
}

.sec .tab .learning h3 {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: justify;
  margin-left: -40px;
}

.sec .tab .learning p {
  text-align: justify;
  margin: 20px 0 20px -40px;
}

.sec .tab a {
  text-decoration: none;
  color: #007ec8;
}

.sec .tab ul {
  list-style-type: circle;
}

.sec .tab ul li {
  margin-left: -8px;
  font-size: 0.85rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.cup {
  margin-top: 6rem;
}

.cup .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cup .btn {
  margin-top: 2rem;
}

.cup .self {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 80px;
}

.cup .self .image {
  width: 50%;
}

.cup .self .image img {
  width: 100%;
  margin-left: 50px;
  margin-top: -20px;
}

.cup .self .create {
  width: 45%;
  margin-left: 10px;
}

.cup .self .create h3 {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: justify;
  margin-left: -40px;
}

.cup .self .create p {
  text-align: justify;
  font-size: 0.9rem;
  line-height: 1.3;
  margin: 20px 0 20px -40px;
}

.cup .self .create a {
  text-decoration: none;
  color: #007ec8;
}

.cup .self .create ul {
  list-style-type: circle;
}

.cup .self .create ul li {
  margin-left: -8px;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

.footer {
  margin-top: 5rem;
  top: -10px;
  left: 0;
  width: 100%;
  height: 5px;
  -webkit-box-shadow: 0 0 20px 0 #cfcdcd;
          box-shadow: 0 0 20px 0 #cfcdcd;
  z-index: 100;
}

.footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.8rem;
}

.footer .footer-links .footer-link {
  margin: 1rem 6rem;
}

.footer .footer-links .footer-link h5 {
  font-weight: bolder;
  padding-bottom: 0.5rem;
}

.footer .footer-links .footer-link span {
  font-size: 35px;
  margin-right: 1rem;
  margin-top: 1rem;
}

.footer .footer-links .footer-link span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer .footer-links .footer-link p {
  margin-top: 0.1rem;
}

.footer .footer-links .footer-link p a {
  text-decoration: none;
  color: #352f2f;
  font-size: 0.8rem;
}

.footer .footer-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid #c9c5c5;
  margin-bottom: 0.8rem;
}

.footer .footer-copy .privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-copy .privacy a {
  text-decoration: none;
  color: #007ec8;
  font-size: 0.8rem;
  margin-top: 0.8rem;
  text-align: center;
}

.footer .footer-copy .privacy a:hover {
  color: #f78200;
}

.footer .footer-copy .copyright p {
  color: #352f2f;
  font-size: 0.7rem;
  margin-top: 0.8rem;
}

@media screen and (min-width: 1000px) {
  .mobile-view {
    display: none !important;
    visibility: hidden !important;
  }
}

@media screen and (max-width: 999px) {
  .desktop-view {
    display: none !important;
    visibility: hidden !important;
  }
}

@media screen and (min-width: 995px) {
  .flex-view {
    display: none !important;
    visibility: hidden !important;
  }
}

@media screen and (max-width: 994px) {
  .top-view {
    display: none !important;
    visibility: hidden !important;
  }
}

@media screen and (max-width: 994px) {
  .header2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 3000;
  }
  .header2 .sticky {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    position: relative;
  }
  .header2 .sticky .logo .navbar-brand {
    margin: 1.8rem 0 0.6rem 8rem;
  }
  .header2 .sticky .btn-mobile {
    position: absolute;
    right: 18%;
    top: 50%;
    z-index: 2000;
  }
  .header2 .nav {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
  }
  .header2 .nav .all {
    background-color: #2e2828;
    width: 90%;
  }
  .header2 .nav .all li {
    list-style: none;
  }
  .header2 .nav .all a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
  }
  .header2 .nav .last-unorder {
    margin-top: 1.2rem;
  }
  .header2 .nav .last-unorder .nav-link {
    font-size: 0.68rem;
  }
  .header2 .nav .unorder span {
    margin-left: 10px;
    width: 26px;
    text-align: center;
    font-size: 0.62rem;
    background-color: #007ec8;
    color: #fff;
  }
  .header2 .nav .unorder a {
    font-size: 0.72rem;
  }
  .nav::after {
    content: "";
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
  }
  .crap .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .crap .flex .item {
    margin-bottom: 1rem;
  }
  .crap .flex .item h4 {
    text-align: center;
  }
  .crap .flex .item p {
    text-align: center;
    margin: 0.3rem 0.9rem;
  }
  .crap .flex .item img {
    width: 30%;
    display: block;
    margin: 1rem auto;
  }
  .crap .heading h3 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.3;
    text-align: center;
    margin: 1.4rem 0.5rem;
  }
  .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tab .crop h3 {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0.4rem;
  }
  .tab .crop p {
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.4;
    margin: 1rem 0.4rem;
  }
  .tab .learning h3 {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem 0 1rem 0;
  }
  .tab .learning p {
    text-align: justify;
    margin: 0 0.8rem 1rem;
    font-size: 0.9rem;
  }
  .tab .learning a {
    text-decoration: none;
    color: #007ec8;
  }
  .tab .learning ul {
    list-style-type: circle;
  }
  .tab .learning ul li {
    margin-left: 3rem;
    font-size: 0.85rem;
    line-height: 1.8;
    margin-bottom: 1rem;
  }
  .tab .image img {
    width: 90%;
    display: block;
    margin: auto;
  }
  .grid .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grid .btn {
    border-radius: 50px;
    background-color: #f78200;
    color: #fff;
    padding: 15px;
    width: 240px;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    font-weight: bold;
    -webkit-filter: drop-shadow(2px 2px 3px #9e9999);
            filter: drop-shadow(2px 2px 3px #9e9999);
    margin-top: 2rem;
  }
  .grid .btn:hover {
    -webkit-filter: drop-shadow(2px 2px 3px #9e9999) brightness(80%);
            filter: drop-shadow(2px 2px 3px #9e9999) brightness(80%);
  }
  .grid .self {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid .self .learning h3,
  .grid .self .create h3 {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem 0 1rem 0;
  }
  .grid .self .learning p,
  .grid .self .create p {
    text-align: justify;
    margin: 0 0.8rem 1rem;
    font-size: 0.9rem;
  }
  .grid .self .learning a,
  .grid .self .create a {
    text-decoration: none;
    color: #007ec8;
  }
  .grid .self .learning ul,
  .grid .self .create ul {
    list-style-type: circle;
  }
  .grid .self .learning ul li,
  .grid .self .create ul li {
    margin-left: 3rem;
    font-size: 0.85rem;
    line-height: 1.8;
    margin-bottom: 1rem;
  }
  .grid .self .image img {
    width: 90%;
    display: block;
    margin: auto;
  }
  .wiz {
    margin-top: 2.5rem;
    top: -10px;
    left: 0;
    width: 100%;
    height: 5px;
    -webkit-box-shadow: 0 0 20px 0 #cfcdcd;
            box-shadow: 0 0 20px 0 #cfcdcd;
    z-index: 100;
    background-color: #faede8f3;
  }
  .wiz .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0.8rem;
  }
  .wiz .footer-links .footer-link {
    margin: 0.7rem 0;
    text-align: center;
  }
  .wiz .footer-links .footer-link h5 {
    font-weight: bolder;
    padding-bottom: 0.5rem;
  }
  .wiz .footer-links .footer-link span {
    font-size: 35px;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  .wiz .footer-links .footer-link span:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .wiz .footer-links .footer-link p {
    margin-top: 0.1rem;
  }
  .wiz .footer-links .footer-link p a {
    text-decoration: none;
    color: #352f2f;
    font-size: 0.8rem;
  }
  .wiz .footer-copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid #c9c5c5;
    margin-bottom: 0.8rem;
  }
  .wiz .footer-copy .privacy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wiz .footer-copy .privacy a {
    text-decoration: none;
    color: #007ec8;
    font-size: 0.8rem;
    margin-top: 0.8rem;
  }
  .wiz .footer-copy .privacy a:hover {
    color: #f78200;
  }
  .wiz .footer-copy .copyright p {
    color: #352f2f;
    font-size: 0.7rem;
    text-align: center;
  }
}

.btn-basic, .bg-blue .teach .btn, .cup .btn {
  border-radius: 50px;
  background-color: #f78200;
  color: #fff;
  padding: 15px;
  width: 240px;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  font-weight: bold;
  -webkit-filter: drop-shadow(2px 2px 3px #9e9999);
          filter: drop-shadow(2px 2px 3px #9e9999);
}

.btn-basic:hover, .bg-blue .teach .btn:hover, .cup .btn:hover {
  -webkit-filter: drop-shadow(2px 2px 3px #9e9999) brightness(80%);
          filter: drop-shadow(2px 2px 3px #9e9999) brightness(80%);
}
